<!DOCTYPE html>
<html lang="en">
<head>
  <title>GM stores</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="../assets/style.css">
</head>
<body>

<div  class=" bg-primary ">
  <div class="container  bg-primary">
    <h1 class="text-white bg-dark">GMPlayers</h1>      
    <p class="text-white bg-dark">Worlds most secure accounts dealing website.</p>
  </div>
</div>

<nav class=" bg-primary navbar navbar-inverse ">
  <div class=" container-fluid ">
    <div class=" navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Upgrade</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
      </ul>
    </div>
  </div>
</nav>
<div>
  <h1>
      Game categories
  </h1>
</div>
<div class="container">    
  
<div class="row">
  <% for (var i = 0; i < data.length; i++) {%>
<div class="card">
  <a href="/gameaccount?title=<%=data[i].title%>"><img src=<%= data[i].urlimage %> alt="Avatar" style="width:100%">
</a>
  <div class="container">
    <h6><b><%=   data[i].accounttype %></b></h6>
    <h6><%=   data[i].title %></h6> 
    <h6><%=   data[i].description %></h6> 
    <div class="w3-padding w3-xlarge w3-teal">
    <div style="margin-left: 70px;">
       <button> <a href="/removeaccounttype?id=<%=data[i].id %>" <i class="fas fa-trash"></i></a></button>
      <button> <a href="/updateaccounttype?id=<%=data[i].id %>" <i class="fas fa-pen"></i></a></button>
     

  </div>  
  </div>
  </div>
</div>

    <%}%> 
</div>

<div>
</div><br><br>

<div>
  <a class="plus" onclick="openForm()" style="background-color: rgb(65, 196, 85);"><i class="fa fa-plus" style=" font-size:20px;color:black; margin: 10px;">add account category</i></a>
</div>

<div class="form-popup" id="myForm">
<form action="/addaccounttype" method="post" class="form-container">
  <h1>add account type</h1>
  <label for="type"><b>Account type</b></label>
  <input type="text" placeholder="Enter Accout type" name="type" required>

  <label for="tit"><b>Tittle</b></label>
  <input type="text" placeholder="Enter Tittle" name="title" required>

  <label for="dis"><b>Discription</b></label>
  <input type="text" placeholder="Enter Discription" name="description" required>

  <label for="u"><b>Image Url</b></label>
  <input type="url" id="u" name="urlimage"><br><br>

  <button type="submit" class="btn">Add</button>
  <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
</form>
</div>

<script>
function openForm() {
document.getElementById("myForm").style.display = "block";
}

function closeForm() {
document.getElementById("myForm").style.display = "none";
}
</script>
<footer class="container-fluid text-center">
  <p>Email us</p>  
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-primary">Sign Up</button>
  </form>
</footer>

</body>
</html>
